﻿
<html>
<head>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/Angularjs/mainAjs.js"></script>
    <link href="~/Scripts/CSS/Login.css" rel="stylesheet" />
    <link href="~/Scripts/CSS/Register.css" rel="stylesheet" />
    <base href="/" />
</head>
<body ng-app="emtModule">
      <main ng-view=""></main>
  
</body>
</html>
