﻿<script src="../angular.min.js"></script>
<script src="../angular-route.min.js"></script>
<script src="../Angularjs/mainAjs.js"></script>
<link href="../CSS/Register.css" rel="stylesheet" />


<html>
<body ng-app="emtModule">
    <div class="mainDiv" ng-controller="registerController">
        <form ng-submit="Register()">
            <input type="text" class="userControl" placeholder="Pin" ng-model="register.Pin" /><br />
            <input type="text" class="userControl" placeholder="UserName" ng-model="register.Uname" /><br />
            <input type="text" class="userControl" placeholder="Password" ng-model="register.Pwd" /><br />
            <input type="text" class="userControl" placeholder="EmployeeId" ng-model="register.EmpId" /><br />
            <select class="userControl" ng-model="register.Dept">
                <option value="volvo">Select-Dept</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select><br />
            <input type="text" class="userControl" placeholder="Manager" ng-model="register.Manager" /><br />
            <input type="submit" value="Submit" class="userControl">
        </form>



    </div>
</body>
</html>